tag: medmoe_vqa_r1
dataset_path: /project/c4gcot/datasets/biomed-pmc-vqa
dataset_kwargs:
  token: True
task: "pmc_vqa_r1"
test_split: test
output_type: generate_until
doc_to_visual: !function utils.pmc_vqa_doc_to_visual
doc_to_text: !function utils.pmc_vqa_doc_to_text
doc_to_target: "label"
generation_kwargs:
  max_new_tokens: 256
  temperature: 0
  top_p: 1.0
  num_beams: 1
  do_sample: false
# The return value of process_results will be used by metrics
process_results: !function utils.pmc_vqa_process_results
# Note that the metric name can be either a registed metric function (such as the case for GQA) or a key name returned by process_results
metric_list:
  - metric: accuracy
    aggregation: mean
    higher_is_better: true
lmms_eval_specific_kwargs:
  default:
    pre_prompt: ""
    post_prompt: "\nPlease analyze the image, question, and options, and then provide your final choice. Output the thinking process in <think> </think> and final answer (the letter of your choice, e.g., A, B, C, or D) in <answer> </answer> tags."
metadata:
  - version: 0.0
